<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Jump.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Jump.Properties.Settings>
            <setting name="IdiomaDelPrograma" serializeAs="String">
                <value>Español</value>
            </setting>
            <setting name="precisionOrdenarX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="indiceComboboxEscalaVistaZapata" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="rbtnArmaduraEnumeracionPorElemento" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbtnArmaduraEnumeracionPorProyecto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbtnArmaduraDibujoLineasCentrales" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbtnArmaduraDibujoLineasBorde" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbtnGeneralVistaLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbtnGeneralVistaGlobal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="precisionOrdenarY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="posicionBarraADibujar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActualizarBarrasAutomaticamente" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="indiceComboboxTextoBarra" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CotaVerticalIzquierda" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CotaVerticalDerecha" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CotaHorizontalAbajo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CotaHorizontalArriba" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbtnTextoArmaduraArriba" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbtnTextoArmaduraAbajo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EtiquetaIndependienteZapatasCorrida" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EtiquetaIndependientePlatea" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EtiquetaIndependienteMuros" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EtiquetaIndependientePilotes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EtiquetaIndependienteArmadura" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EtiquetaIndependienteVigas" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EtiquetaIndependienteZapatas" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EtiquetaCotaProfundidad" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="EtiquetaIndependienteColumnas" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EtiquetaIndependienteLosas" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EtiquetaIndependienteAreaRefuerzo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EtiquetaIndependienteArmaduraEnSistema" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="toleranciaSuperposicionArmadura" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="indiceComboboxEscalaVistaColumna" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="indiceComboboxEscalaVistaViga" serializeAs="String">
                <value>5</value>
            </setting>
        </Jump.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
